body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  inline-size: 100%;
  block-size: 100vh;
}

.wrapper {
  inline-size: 80%;
  block-size: 80vh;
  border-radius: 10px;
}
